*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
}

h1 {
  text-align: center;
  padding: 1rem 0px 1rem 0;
}

