*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  text-align: center;
  padding: 1rem 0px 1rem 0;
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
