@import "fonts.css";
@import "globals.css";
@import "../css/components/header.css";
@import "../css/components/question-card.css";
@import "../css/components/nav.css";
@import "../css/components/footer.css";

.container-xl {
  max-width: 1280px;
  margin: 8rem 0 8rem 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.question-cards-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 2rem;
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-top {
  border-top: 1px solid;
}
