.nav__list {
  display: flex;
  list-style: none;
  gap: 5rem;
  justify-content: center;
}

.nav__icon {
  width: 3rem;
  margin: 1rem 0 1rem 0;
}

.nav__icon :hover {
  color: green;
  background-color: green;
}
